 <!-- slider section -->
 <section class=" slider_section ">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="slider_item-container">
            <div class="row">
              <div class="col-md-6">
                <div class="slider_item-detail">
                  <div class="slider_form-box">
                    <form action="">
                      <div class="search_input">
                        <input type="text">
                        <img src="assets/images/search-icon.png" alt="">
                      </div>

                      <button>
                        Search
                      </button>
                    </form>
                  </div>
                  <div>
                    <h1>
                      Unbeatable <br>
                      trucking & Transport <br>
                      Services
                    </h1>

                    <div class="d-flex">
                      <div>
                        <a href="" class="read-btn">

                          <span>
                            Read More
                          </span>
                          <img src="assets/images/white-next.png" alt="">
                        </a>
                      </div>
                      <div class="ml-3">
                        <a href="" class="quote-btn">

                          <span>
                            Get A Quote
                          </span>
                          <img src="assets/images/white-next.png" alt="">
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="slider_img-box">
                  <img src="assets/images/truck.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="slider_item-container">
            <div class="row">
              <div class="col-md-6">
                <div class="slider_item-detail">
                  <div class="slider_form-box">
                    <form action="">
                      <div class="search_input">
                        <input type="text">
                        <img src="assets/images/search-icon.png" alt="">
                      </div>

                      <button>
                        Search
                      </button>
                    </form>
                  </div>
                  <div>
                    <h1>
                      Unbeatable <br>
                      trucking & Transport <br>
                      Services
                    </h1>

                    <div class="d-flex">
                      <div>
                        <a href="" class="read-btn">

                          <span>
                            Read More
                          </span>
                          <img src="assets/images/white-next.png" alt="">
                        </a>
                      </div>
                      <div class="ml-3">
                        <a href="" class="quote-btn">

                          <span>
                            Get A Quote
                          </span>
                          <img src="assets/images/white-next.png" alt="">
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="slider_img-box">
                  <img src="assets/images/truck.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="slider_item-container">
            <div class="row">
              <div class="col-md-6">
                <div class="slider_item-detail">
                  <div class="slider_form-box">
                    <form action="">
                      <div class="search_input">
                        <input type="text">
                        <img src="assets/images/search-icon.png" alt="">
                      </div>

                      <button>
                        Search
                      </button>
                    </form>
                  </div>
                  <div>
                    <h1>
                      Unbeatable <br>
                      trucking & Transport <br>
                      Services
                    </h1>

                    <div class="d-flex">
                      <div>
                        <a href="" class="read-btn">

                          <span>
                            Read More
                          </span>
                          <img src="assets/images/white-next.png" alt="">
                        </a>
                      </div>
                      <div class="ml-3">
                        <a href="" class="quote-btn">

                          <span>
                            Get A Quote
                          </span>
                          <img src="assets/images/white-next.png" alt="">
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="slider_img-box">

                  <img src="assets/images/truck.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="slider_item-container">
            <div class="row">
              <div class="col-md-6">
                <div class="slider_item-detail">
                  <div class="slider_form-box">
                    <form action="">
                      <div class="search_input">
                        <input type="text">
                        <img src="assets/images/search-icon.png" alt="">
                      </div>

                      <button>
                        Search
                      </button>
                    </form>
                  </div>
                  <div>
                    <h1>
                      Unbeatable <br>
                      trucking & Transport <br>
                      Services
                    </h1>

                    <div class="d-flex">
                      <div>
                        <a href="" class="read-btn">

                          <span>
                            Read More
                          </span>
                          <img src="assets/images/white-next.png" alt="">
                        </a>
                      </div>
                      <div class="ml-3">
                        <a href="" class="quote-btn">

                          <span>
                            Get A Quote
                          </span>
                          <img src="assets/images/white-next.png" alt="">
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="slider_img-box">
                  <img src="assets/images/truck.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>


</section>

<!-- end slider section -->

<script>
  // This example adds a marker to indicate the position of Bondi Beach in Sydney,
  // Australia.
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: {
        lat: 40.645037,
        lng: -73.880224
      },
    });

    var image = 'images/maps-and-flags.png';
    var beachMarker = new google.maps.Marker({
      position: {
        lat: 40.645037,
        lng: -73.880224
      },
      map: map,
      icon: image
    });
  }
</script>
